language: node_js
node_js:
- 0.12.2
sudo: false
cache:
  directories:
  - node_modules
env:
  matrix:
  - EMBER_TRY_SCENARIO=default
  - EMBER_TRY_SCENARIO=ember-1.10
  - EMBER_TRY_SCENARIO=ember-1.11
  - EMBER_TRY_SCENARIO=ember-release
  - EMBER_TRY_SCENARIO=ember-beta
  - EMBER_TRY_SCENARIO=ember-canary
matrix:
  fast_finish: true
  allow_failures:
  - env: EMBER_TRY_SCENARIO=ember-canary
before_install:
- mkdir travis-phantomjs
- wget https://s3.amazonaws.com/travis-phantomjs/phantomjs-2.0.0-ubuntu-12.04.tar.bz2
  -O $PWD/travis-phantomjs/phantomjs-2.0.0-ubuntu-12.04.tar.bz2
- tar -xvf $PWD/travis-phantomjs/phantomjs-2.0.0-ubuntu-12.04.tar.bz2 -C $PWD/travis-phantomjs
- export PATH=$PWD/travis-phantomjs:$PATH
- npm config set spin false
- npm install -g npm@^2
install:
- npm install -g bower
- npm install
- bower install
script:
- ember try $EMBER_TRY_SCENARIO test
deploy:
  provider: npm
  email: michael.l.north@gmail.com
  on:
    tags: true
    repo: mike-north/ember-orientation
  api_key:
    secure: WeQrYfpq6oimu9BbvfWJEUN0Laloql9jtMOxe60uL9BIAvQOR14086kkDSWnzrtBL4ydq+GT5rZtsJW2d20sB+jluLafgf2YXb3WverYZRFL0jNIPPaRibDx1nSE/OW7KQcJQc48qpG1gkuPWshI/sLCVxcfcBE8fC4hGFt2Z/XChlniKqgUB1rYJQ4g6MbHhE/wrVyBfuBYiJLrLxTQ/hyMtwW81x4/BCqD21L6EF7OeVNTHPt1Yyqngsqu5pz5azW96ruws1wlHfTUZVNIq/A1zqcH1IMUsKYi+yy3k4ylUAk7v/dCyoW2GE1JjxxPx2mSNYnP4LfHpRfJvNiZbwBza26LSvgjbPIL2MbveS546sitHAfefq8kD5oQt8gImiVC3E9AEDCJkm9OI23wPf+UGqUzH7SJouxkeHK9LMVFpBm759RkrDk9tVkhTF4dd4P/CYymGHlzUwNniRwxf4xht+FzIhFzu6F04nJ5WxjwpyxHOb7vdOC/SMy/lAymUR3jzWJmYR+u0gZUluPoSKKIpMkEW2G1PabQmmZQHe+kyciRXjz5QCGttAaWNfS7SMzn65mXPlXQC0MEgnW2UekfwkpPoyzSfdL6JMP3mNdU/NRVvZzBr1CyiCZ/B5cuVo+/e4qaZheEPZLdHtJFhw/YfWFQiUNk8LUhjPxj4go=
