<h4>Orientation-Aware View</h4>

<ul>
  <li>Alpha: {{tiltAlpha}}</li>
  <li>Beta: {{tiltBeta}}</li>
  <li>Gamma: {{tiltGamma}}</li>
</ul>

<div class="text-center">
  <img src="img/ember-logo.png" width=200 style={{transformStyle}}>
</div>