.resize-events li.debounced {
  position: relative;
  white-space: nowrap;
}

.resize-events li.debounced:after {
  content: 'DEBOUNCED';
  margin-left: 15px;
}

.index-view {
  background-color: #ddd;
  padding: 20px;
}

.brand-logo {
  white-space: nowrap;
}
.text-center {
  text-align: center;
}
.github-button-container {
  margin-top: 40px;
  margin-bottom: 40px;
}
