<link rel="stylesheet" href="css/materialize.css" />
<div class="navbar-fixed">
  <nav class="indigo">
    <div class="nav-wrapper">
      <div class="container-fluid">
        <a href="https://github.com/truenorth/ember-orientation" class="brand-logo">Ember-orientation</a>
      </div>
    </div>
  </nav>
</div>
<div class="container-fluid">
  <div class="row">
    {{outlet}}
  </div>
</div>
