<h4>Orientation-Aware View</h4>

<ul>
  <li>Alpha: {{view.tiltAlpha}}</li>
  <li>Beta: {{view.tiltBeta}}</li>
  <li>Gamma: {{view.tiltGamma}}</li>
</ul>

<div class="text-center">
<img src="img/ember-logo.png" width=200 style={{view.transformStyle}}>
</div>